<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="./style.css">


</head>
<body>
<!-- .container is main centered wrapper -->
<div class="container">
  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="twelve columns">
      <img id="image" src="">

      <h1>Learn to speak kiwi</h1>
      <br>
      <p>
      <button class="submit" id="find" href="/home">click for new word</button>
      <h3>Here is the kiwi word:</h3>
      {{kiwi}}
      <br>
      <h3>Here is what it means:</h3>
      {{expression}}
     </p>
    </div>

  </div>

</div>
</body>

</html>

