html{
  background-color: #7c7b7b;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color : white;
}

.submit{
  color : black;
  background-color: #FFC04C;
}
h3 {
  border: orange;
  border-radius: 30px;
  border-style:solid;
  padding: 15px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #959595

}

h4{
  color : white;

}
